body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    /* 使元素分散于一行的两端 */
    align-items: center;
}

a {
    text-decoration: none;
    /* 去掉下划线 */
    color: black;
  }

header, footer {
    background-color: lightskyblue;
    min-height: 100px;
}

main {
    display: flex;

}

main > *, header, footer {
    margin: 5px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 4px;
}

article {
    flex-basis: 60%; 
    /* The ratio of article content in middle layer */
    min-height: 800px;
    flex-grow: 1;
}

nav {
    flex-basis: 20%;
    background-color: tan;
    order: -1;
    /* align-items: stretch; */
    flex-grow: 1;
}

aside{
    flex-basis: 20%;
    background-color: lightgrey;
    /* align-items: stretch;  */
    flex-grow: 1;
}

@media all and (max-width: 640px) {
    main {
        flex-direction: column;
    }
    nav {
        order: 0;
        flex-basis: 100px;
    }
    aside {
        order: 1;
        flex-basis: 100px;        
    }
}