.container {
    display: flex;
    flex-wrap: wrap;

}

.box {
    background-color: rgb(211, 16, 97);
    /* flex-basis: 200px;
    flex-grow: 1; */
    flex: 1 1 280px;
}

.m {
    background-color: rgb(172, 9, 77);
}

h3 {
    margin: 30px;
    color: white;
}
.box:hover{
    background-color: rgb(255, 28, 122);
}
.m:hover {
    background-color: rgb(255, 28, 122);
}